# Chemical Segregation

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.linear_model import LogisticRegression

In [2]:
path_to_data=r"D:\dataScience\machine-learning-online-2018-master\Datasets\chemicals"
dx=pd.read_csv(path_to_data+"\Logistic_X_Train.csv")
dy=pd.read_csv(path_to_data+"\Logistic_Y_Train.csv")
dx_test=pd.read_csv(path_to_data+"\Logistic_X_Test.csv")

In [3]:
dx.head(n=6)

         f1        f2        f3
0 -1.239375  0.749101 -0.528515
1 -1.036070  0.801436 -1.283712
2 -0.615579  1.579521 -1.391927
3  1.335978  1.348651  1.433564
4  0.658925  1.300019  0.571603
5  0.656532  0.991440  0.870280

In [4]:
dy.head(n=6)

   label
0      1
1      1
2      1
3      0
4      0
5      0

In [5]:
X_train=dx.values
Y_train=dy.values
X_test=dx_test.values

In [6]:
print(X_train.shape,Y_train.shape,X_test.shape)

(3000, 3) (3000, 1) (1000, 3)

In [7]:
Y_train=Y_train.reshape((Y_train.shape[0],))

In [8]:
# fitting the data to the model 
clf = LogisticRegression(random_state=5).fit(X_train, Y_train)

In [9]:
Y_test=clf.predict(X_test)

In [10]:
print(Y_test.shape)

(1000,)

In [12]:
df=pd.DataFrame(Y_test)
df.to_csv(path_to_data+"\y_test.csv",header=["Label"],index=False)