# Titanic Survivor

In [5]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
plt.style.use('seaborn')

In [6]:
# lets read the data
path_to_data=r"D:\dataScience\machine-learning-online-2018-master\Datasets\titanic"

In [7]:
dtrain=pd.read_csv(path_to_data+"\Train.csv")
dtest=pd.read_csv(path_to_data+"\Test.csv")

In [8]:
dtrain.head(n=6)

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,3.0,0.0,"O'Donoghue, Ms. Bridget",female,NaN,0.0,0.0,364856,7.750,NaN,Q,NaN,NaN,NaN
1,2.0,0.0,"Morley, Mr. Henry Samuel (""Mr Henry Marshall"")",male,39.0,0.0,0.0,250655,26.000,NaN,S,NaN,NaN,NaN
2,2.0,1.0,"Smith, Miss. Marion Elsie",female,40.0,0.0,0.0,31418,13.000,NaN,S,9,NaN,NaN
3,3.0,1.0,"Goldsmith, Mrs. Frank John (Emily Alice Brown)",female,31.0,1.0,1.0,363291,20.525,NaN,S,C D,NaN,"Strood, Kent, England Detroit, MI"
4,3.0,1.0,"McCoy, Miss. Agnes",female,NaN,2.0,0.0,367226,23.250,NaN,Q,16,NaN,NaN
5,2.0,0.0,"Gaskell, Mr. Alfred",male,16.0,0.0,0.0,239865,26.000,NaN,S,NaN,NaN,"Liverpool / Montreal, PQ"

In [11]:
columns_to_drop = ["boat","body","name","ticket","cabin","embarked","home.dest"]
data_clean_train = dtrain.drop(columns_to_drop,axis=1)
data_clean_test = dtest.drop(columns_to_drop,axis=1)

In [12]:
data_clean_train.head(n=6)

   pclass  survived     sex   age  sibsp  parch    fare
0     3.0       0.0  female   NaN    0.0    0.0   7.750
1     2.0       0.0    male  39.0    0.0    0.0  26.000
2     2.0       1.0  female  40.0    0.0    0.0  13.000
3     3.0       1.0  female  31.0    1.0    1.0  20.525
4     3.0       1.0  female   NaN    2.0    0.0  23.250
5     2.0       0.0    male  16.0    0.0    0.0  26.000

In [15]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

data_clean_train["sex"] = le.fit_transform(data_clean_train["sex"])

In [16]:
data_clean_train.head(n=6)

   pclass  survived  sex   age  sibsp  parch    fare
0     3.0       0.0    0   NaN    0.0    0.0   7.750
1     2.0       0.0    1  39.0    0.0    0.0  26.000
2     2.0       1.0    0  40.0    0.0    0.0  13.000
3     3.0       1.0    0  31.0    1.0    1.0  20.525
4     3.0       1.0    0   NaN    2.0    0.0  23.250
5     2.0       0.0    1  16.0    0.0    0.0  26.000

In [25]:
data_clean = data_clean_train.fillna(data_clean_train["age"].mean())

In [26]:
input_cols = ['pclass',"sex","age","sibsp","parch","fare"]
output_cols = ["survived"]

X = data_clean[input_cols]
Y = data_clean[output_cols]


print(X.shape,Y.shape)
print(type(X))

(1009, 6) (1009, 1)
<class 'pandas.core.frame.DataFrame'>

In [28]:
X_train = data_clean[input_cols]
Y_train = np.array(data_clean[output_cols]).reshape((-1,))
X_test = data_clean[input_cols]
Y_test = np.array(data_clean[output_cols]).reshape((-1,))

In [29]:
from sklearn.ensemble import RandomForestClassifier

In [48]:
rf = RandomForestClassifier(n_estimators=52,criterion='entropy',max_depth=5)

In [49]:
rf.fit(X_train,Y_train)

RandomForestClassifier(criterion='entropy', max_depth=5, n_estimators=52)

In [50]:
rf.score(X_train,Y_train)

0.846382556987116

In [34]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

data_clean_test["sex"] = le.fit_transform(data_clean_test["sex"])
data_clean_t = data_clean_test.fillna(data_clean_test["age"].mean())

input_cols = ['pclass',"sex","age","sibsp","parch","fare"]
output_cols = ["survived"]

X = data_clean_t[input_cols]

print(X.shape)

(300, 6)

In [35]:
X_test= data_clean_t[input_cols]

In [51]:
Y_test=rf.predict(X_test)

In [52]:
df=pd.DataFrame(Y_test)
df.to_csv(path_to_data+"\y_test.csv",header=["survived"])